apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-cafeweb
  labels:
    app: cafeapp
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
  selector:
    app: cafeapp
    tier: frontend

